.contacts-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightgray;
}

.contact-container{
    border-right: 1px solid maroon;
    margin-right: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}